@model Model.ViewModel.NewsDetailViewModel


<div class="ntmain" id="ntm">
    <ul>
        @foreach (var item in Model.userTalk)
        {
            <li>
                <div class="ntchild">
                    <img src="" class="ntimg" />
                    <p class="ntp1">@item.userName</p>
                    <p class="ntp2">举报</p>
                    <p class="ntp3">@item.TPostTime</p>
                    <div class="ntcontext">@item.TalkContent</div>
                </div>   
           </li>
        }
     </ul>
  </div>

