body {
}

.sort-content{
    width:1200px;
    height:auto;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color:#efecec;
    z-index:0;
}

.sort-meun{
    width:1000px;
    height:70px;  
    position:relative;   
    margin-bottom:3px;
    z-index:0;

}

.sort-display1{
    width:1200px;
    height:1200px;
    position:relative;
    display:block;
    z-index:0;
}

.sort-list{
    width:1200px;
    height:auto;
    min-height:401px;
    float:left;
    margin:0px;
    margin-top:30px;
    display:block;
    z-index:0;
}


.display1-ul{
    list-style:none;
    width:1000px;
}

.display1-ul li{
    float:left;
    width:60px;
    height:30px;
    text-align:center;
}

.display1-ul li a{
    color:black;
    line-height:30px;
    text-align:center;
    text-decoration:none;
}

.dullink{
    color:black;
    line-height:30px;
    text-align:center;
    text-decoration:none;
}

.display1-ul li:hover{
    background-color:#808080;
    color:white;
    border:1px;
}

.sort-display2{
    width:1200px;
    height:auto;
    position:relative; 
    display:none;
    z-index:0;
}

.meun-but1{
    margin-left:20px;
    margin-top:20px;
    width:100px;
    height:50px;
    line-height:30px;
    border:none;
    background-color:#808080;
}

.meun-but1:hover{
    border-bottom:3px solid #ffd800;
    background-color:white;
}

.meun-but2{  
    width:100px;
    height:50px;
    line-height:30px;
    border:none;
    background-color:#808080;
}

.meun-but2:hover{
    border-bottom:3px solid #ffd800;
    background-color:white;
}
 .display1-ul2{
     list-style:none;   
 }

 .display1-ul2 li{
     float:left;
     width:350px;
     height:401px;
     position:relative;
     margin-left:10px;
 }

 .ul2-img{
     float:left;
     width:350px;
     height:280px;
     background-size:cover;
     position:relative;
     z-index:0;
 }

 .up1{
     width:350px;
     height:auto;
     line-height:280px;
     text-align:center;
     color:white;
 }

 .up1 a{
     color:white;
     text-decoration:none;
 }

 .ul2-slid{
     width:350px;
     height:280px;
     background-color:rgba(0, 0, 0, 0.50);
     position:absolute;
     margin-top:0px;
     z-index:1;
     display:none;
 }

 .ul2-detail{
     float:left;
     width:350px;
     height:120px;
     position:relative;
     margin:0px;  
     z-index:0;
     background-color:white;
 }

 .ul2-detail p{
     width:330px;
     height:20px;
     font-size:14px;
     margin:0px;
     padding:0px;
     margin-top:8px;
     text-align:center;
     line-height:20px;
 }

 .ul2-detail a{
     color:#ff6a00;
 }

 .sort-display2 ol{
     list-style:none;
     float:left;
     position:relative;
     padding-left:50px;
     margin-top:10px;
 }

 .sort-display2 ol li{
     float:left;
     width:250px;
     height:30px;
     position:relative;     
     background-color:white; 
     line-height:30px;
     text-align:center;
     margin-left:15px;
 }

 .sort-display2 ul{
     list-style:none;
     float:left;
     position:relative;
     padding-left:10px;
     margin-top:0px;
     padding-top:0px;
     margin-left:5px;   
 }

 .sort-display2 ul li{
     width:250px;
     height:auto;
     position:relative;
     margin-bottom:15px;   
     background-color:white;
     
 }

 .display2-ul1-img{
     width:250px;
     height:250px;
     position:relative;
     background-size:cover;
 }

 .display2-ul1-det{
     width:250px;
     height:95px;
     position:relative;
     
 }

 .display2-ul1-det p{
     width:248px;
     height:18px;
     margin:0px;
     margin-top:5px;
     line-height:18px;
     text-align:center;   
 }

 .display2-ul1-det a{
     color:white;
     text-decoration:none;
 }

 .display2-ul2-img{
     width:250px;
     height:300px;
     position:relative;
     background-size:cover;
 }

 .display2-ul3-img{
     width:250px;
     height:330px;
     position:relative;
     
 }

 .display2-ul4-img{
     width:250px;
     height:220px;
     position:relative;
     background-color:#fadada;
 }
