
<img src="@ViewBag.headimg" style="width:30px;height:30px;float:left;" /> 
<span style="width:90px;height:30px;float:left;">  
    <a href="../User/Index" style="color:black;">@ViewBag.UserName</a>
    @Html.ActionLink("注销", "LoginOut","Home")
</span>
